#imageSection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 20px;
}
#imageSection img{
width: 100%;
height: 300px;
object-fit: cover;
margin: 20px 0px;
}
body{
    padding: 20px;
    border: #617976 3px ridge;
    border-radius: 30px;
    width: 960px;
    margin: auto;
    background-color: #87A8A4;
}

#Result {
    visibility: hidden;
}

nav , footer{
    background-color: #D9CAB3;
    display: block;
    margin: 20px 10;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    height: 70px;
}
nav *{
    display: inline-block;
}
button ,nav a{
text-align: right;
padding: 5px 20px;
align-content: flex-end;
text-decoration: none;
font-weight: 300;
background-color: #87A8A4;
border-radius: 15px;
transition: all 500ms;
font-size: 20px;
margin: 20px;
color: #D9CAB3;
}
button:hover , nav a:hover{
    background-color: #986D8E;
    color: #87A8A4 ;
    font-size: 25px;
}
nav h1{
    width: 400px;
    text-align: left;
    margin: 20px;
}
 ul{
    display: grid ;
    grid-template-columns: 1fr 1fr;

    line-height: 1.5;
    color: #986D8E ;
    font-weight: 500
}
li , p{
    background-color:  #D9CAB3;
    border-radius: 20px;
    margin: 5px;
    padding: 5px 10px;
    list-style: none;
}